body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

#excuse {
  font-size: 50px;
  color: black;
  font-weight: bold;
}
